<div *ngIf="movie">
    <div>
        <div class="panel-heading">
            <h1>{{movie.title}}</h1>    
        </div> 
        <div>
                <img class="img-thumbnail" height="300px" width="300px" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">Genres: <span *ngFor="let genre of movie.genres">{{genre.name}}</span></li>    
                        <li class="list-group-item">Release Date: {{movie.release_date}}</li>
                        <li class="list-group-item">Length:{{movie.runtime}}</li>
                        <li class="list-group-item">Rating:{{movie.vote_average}}</li>
                    </ul>
                    <br>
                    <a *ngIf="movie.homepage" href="{{movie.homepage}}" target="_blank" class="btn btn-success">Visit Movie Website</a>
                </div>  
        </div> 
    </div>    
</div>